{% extends "personal/base.html" %}
<div class="container">
    {% block content %}
    <div class="mt-4 pl-4 pb-4">
        <h1 class="blog-title">Como criar um post chato</h1>
        <p class="text-muted">Afinal ser chato não é para todo mundo</p>
        <div class="row m-0 p-0 social-icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square pl-2"></i>
            <i class="fab fa-instagram-square pl-2"></i>
            <i class="fas fa-share-alt pl-2"></i>
        </div>
    </div>
    <img class="img-fluid" src="https://miro.medium.com/max/700/1*KuHdLYgIyn3dzcgifq_qAA.jpeg">
    {% endblock content %}
</div>